@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.header-section {
  background-image: url("../../images/pope2.jpg");
  background-size: cover;
  background-position: top center;
}
.header-section .nav {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.header-section .nav .page-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
}
.header-section .nav .page-title .no-capital {
  text-transform: lowercase;
}
.header-section .nav .nav-list {
  list-style: none;
  text-align: center;
}
.header-section .nav .nav-list .list-item {
  text-transform: capitalize;
  font-size: 1.5rem;
}
.header-section .nav .nav-list .list-item .search-icon {
  font-size: 1.5rem;
}
.header-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.header-section .container .info-card {
  width: 70%;
}
.header-section .container .info-card .info-card-content {
  padding: 2em;
  color: #fff;
  backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.3);
}
.header-section .container .info-card .info-card-content .info-card-title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}
.header-section .container .info-card .info-card-content small {
  font-weight: 100;
  font-size: 1rem;
}
.header-section .container .info-card .info-card-content .info-card-text {
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.header-section .container .info-card .info-card-content .more-info {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
  margin-top: 1em;
  margin-bottom: 1.5rem;
}
.header-section .container .info-card .info-card-content .more-info a {
  color: inherit;
}
.header-section .container .info-card .thumbs {
  width: 100%;
  display: flex;
}
.header-section .container .info-card .thumbs .thumbs-up,
.header-section .container .info-card .thumbs .thumbs-down {
  width: 50%;
  margin: 0;
  background: none;
  border: none;
  padding: 1em 1.5em;
  color: #fff;
}
.header-section .container .info-card .thumbs .thumbs-up i,
.header-section .container .info-card .thumbs .thumbs-down i {
  font-size: 2rem;
}
.header-section .container .info-card .thumbs .thumbs-up {
  background-color: rgba(44, 186, 179, 0.8);
}
.header-section .container .info-card .thumbs .thumbs-down {
  background-color: rgba(255, 181, 51, 0.8);
}
.header-section .closing-details {
  display: flex;
}
.header-section .closing-details .closing-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1em;
  position: relative;
}
.header-section .closing-details .closing-in small {
  text-transform: uppercase;
}
.header-section .closing-details .closing-days {
  width: 70%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0.5em;
}
.header-section .closing-details .closing-days .number {
  margin-right: 0.3em;
  font-weight: 700;
}

@media (min-width: 750px) {
  .header-section .nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 4em 6em;
  }
  .header-section .nav .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: initial;
  }
  .header-section .nav .nav-list .list-item {
    margin: 0 1em;
    cursor: pointer;
    padding: 0.5em 1em;
  }
  .header-section .nav .nav-list .list-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .header-section .container {
    justify-content: flex-start;
    padding: 0 6em;
    width: 100%;
  }
  .header-section .container .info-card {
    width: 40%;
    height: 40%;
  }
  .header-section .container .info-card .info-card-content small {
    font-size: 1.3rem;
  }
  .header-section .container .info-card .info-card-content .info-card-title {
    font-size: 4rem;
  }
  .header-section .container .info-card .info-card-content .info-card-text {
    font-size: 1.5rem;
  }
  .header-section .container .info-card .info-card-content .more-info {
    font-size: 1.2rem;
  }
  .header-section .container .info-card .info-card-content strong {
    font-size: 1.5rem;
  }
  .header-section .container .info-card .thumbs [class^=thumbs-] {
    cursor: pointer;
  }
  .header-section .container .info-card .thumbs .thumbs-up:hover {
    background-color: #2cbab3;
  }
  .header-section .container .info-card .thumbs .thumbs-down:hover {
    background-color: #ffb533;
  }
  .header-section .closing-details .closing-in small {
    font-size: 1rem;
  }
}
.voting-section {
  padding: 2em 0;
  width: 80%;
  margin: 0 auto;
}
.voting-section .announce {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1em;
  color: rgba(0, 0, 0, 0.7);
}
.voting-section .announce .left p {
  font-size: 1.5rem;
}
.voting-section .announce .left strong h1 {
  font-weight: 900;
  font-size: 2rem;
}
.voting-section .voting-title {
  margin: 0.3em 0;
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.voting-section .voting-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.voting-section .voting-grid .card {
  color: #fff;
  min-height: 400px;
  min-width: 330px;
  background-position: left center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.voting-section .voting-grid .card .card-container {
  width: 100%;
}
.voting-section .voting-grid .card .card-container .card-title {
  display: flex;
  align-items: center;
}
.voting-section .voting-grid .card .card-container .card-title .calification {
  padding: 0.5em 0.6em;
  color: #fff;
  margin-right: 1em;
}
.voting-section .voting-grid .card .card-container .card-title .calification.good {
  background-color: #2cbab3;
}
.voting-section .voting-grid .card .card-container .card-title .calification.bad {
  background-color: #ffb533;
}
.voting-section .voting-grid .card .card-container .card-title .card-name {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 2px;
}
.voting-section .voting-grid .card .card-container .card-content {
  padding: 0 3.5em 3.5em 3.5em;
}
.voting-section .voting-grid .card .card-container .card-content .card-information {
  margin-bottom: 1.2em;
}
.voting-section .voting-grid .card .card-container .card-content .card-description {
  font-size: 1.3rem;
}
.voting-section .voting-grid .card .card-container .card-content .card-actions {
  padding: 1.2em 0;
}
.voting-section .voting-grid .card .card-container .card-content .card-actions .btn {
  background-color: transparent;
  border: none;
  padding: 0.3em 0.4em;
  color: #fff;
  cursor: pointer;
}
.voting-section .voting-grid .card .card-container .card-content .card-actions .btn + .btn {
  margin-left: 0.5em;
}
.voting-section .voting-grid .card .card-container .card-content .card-actions .btn.active {
  border: 2px solid #fff;
}
.voting-section .voting-grid .card .card-container .card-content .card-actions .btn.thumbs-up {
  background-color: #2cbab3;
}
.voting-section .voting-grid .card .card-container .card-content .card-actions .btn.thumbs-down {
  background-color: #ffb533;
}
.voting-section .voting-grid .card .card-container .card-content .card-actions .btn.btn-vote {
  border: 1px solid #fff;
  padding: 1em 1.5em;
}
.voting-section .voting-grid .card .card-rating {
  display: flex;
  width: 100%;
}
.voting-section .voting-grid .card .card-rating .thumbs-up-rating,
.voting-section .voting-grid .card .card-rating .thumbs-down-rating {
  padding: 0.5em;
  font-size: 2rem;
  width: 50%;
  display: flex;
  align-items: center;
  line-height: 1;
}
.voting-section .voting-grid .card .card-rating .thumbs-up-rating .icon,
.voting-section .voting-grid .card .card-rating .thumbs-down-rating .icon {
  font-size: 2rem;
}
.voting-section .voting-grid .card .card-rating .thumbs-up-rating {
  background-color: rgba(44, 186, 179, 0.8);
  justify-content: flex-start;
}
.voting-section .voting-grid .card .card-rating .thumbs-down-rating {
  background-color: rgba(255, 181, 51, 0.8);
  justify-content: flex-end;
}
.voting-section .voting-grid .card.kanye {
  background-image: url("../../images/kanye2.jpg");
}
.voting-section .voting-grid .card.kanye .card-rating .thumbs-up-rating {
  width: 64%;
}
.voting-section .voting-grid .card.kanye .card-rating .thumbs-down-rating {
  width: 36%;
}
.voting-section .voting-grid .card.mark {
  background-image: url("../../images/mark2.jpg");
}
.voting-section .voting-grid .card.mark .card-rating .thumbs-up-rating {
  width: 36%;
}
.voting-section .voting-grid .card.mark .card-rating .thumbs-down-rating {
  width: 64%;
}
.voting-section .voting-grid .card.cris {
  background-image: url("../../images/cris2.jpg");
}
.voting-section .voting-grid .card.cris .card-rating .thumbs-up-rating {
  width: 36%;
}
.voting-section .voting-grid .card.cris .card-rating .thumbs-down-rating {
  width: 64%;
}
.voting-section .voting-grid .card.elon {
  background-image: url("../../images/elon.jpg");
}
.voting-section .voting-grid .card.elon .card-rating .thumbs-up-rating {
  width: 55%;
}
.voting-section .voting-grid .card.elon .card-rating .thumbs-down-rating {
  width: 45%;
}
.voting-section .add-other {
  display: flex;
  flex-direction: column;
  margin: 2.5em 0;
  background-color: lightgray;
  padding: 1em 2em;
}
.voting-section .add-other .add-other-text {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}
.voting-section .add-other .btn-submit-other {
  background-color: transparent;
  border: 2px solid #000;
  font-size: 1.5rem;
  padding: 0.8em 2em;
  font-weight: 700;
}
.voting-section .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-image: linear-gradient(to right, darkgray 33%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}
.voting-section .footer .links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.voting-section .footer .links .link + .link {
  margin-left: 1em;
}
.voting-section .footer .links .link a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}
.voting-section .footer .links .link a:hover {
  color: rgba(0, 0, 0, 0.7);
}
.voting-section .footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.voting-section .footer .social-media .icon + .icon {
  margin-left: 1em;
}
.voting-section .footer .social-media p {
  display: none;
}
.voting-section .footer .social-media .icon {
  font-size: 3rem;
}

.icon {
  font-size: 1.5rem;
}

@media (min-width: 750px) {
  .voting-section .announce {
    flex-direction: row;
    text-align: initial;
    align-items: center;
    padding: 1em 2em;
  }
  .voting-section .announce .left {
    width: 30%;
    margin-right: 0.5em;
  }
  .voting-section .announce .left p {
    font-size: 1.4rem;
  }
  .voting-section .announce .left h1 {
    line-height: 1;
  }
  .voting-section .announce .right p {
    font-size: 1.2rem;
  }
  .voting-section .voting-title {
    text-align: initial;
  }
  .voting-section .voting-grid {
    grid-template-columns: 1fr 1fr;
  }
  .voting-section .voting-grid .card .card-container .card-content .card-actions .btn:hover, .voting-section .voting-grid .card .card-container .card-content .card-actions .btn:focus {
    opacity: 0.6;
  }
  .voting-section .voting-grid .card .card-container .card-content .card-actions .btn:hover.btn-vote, .voting-section .voting-grid .card .card-container .card-content .card-actions .btn:focus.btn-vote {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .voting-section .add-other {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .voting-section .add-other .add-other-text {
    font-size: 2.5rem;
    text-align: initial;
  }
  .voting-section .add-other .btn-submit-other {
    cursor: pointer;
  }
  .voting-section .add-other .btn-submit-other:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .voting-section .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .voting-section .footer .social-media p {
    display: block;
  }
  .voting-section .footer .social-media .icon {
    margin-left: 1em;
  }
}
.ml-1 {
  margin-left: 1em;
}

.mr-1 {
  margin-right: 1em;
}

/*# sourceMappingURL=style.css.map */
