$primary-blue: rgb(44, 186, 179);
$primary-yellow: rgb(255, 181, 51);
$light-grey: rgb(235, 235, 235);
$opaque-black: rgba(#000, 0.7);
$opaque-primary-blue: rgba($primary-blue, 0.8);
$opaque-primary-yellow: rgba($primary-yellow, 0.8);