<div class="container">
    <div class="info-card">
        <div class="info-card-content">
            <small>What's your opinion</small>
            <h1 class="info-card-title">
                Pope Francis?
            </h1>
            <p class="info-card-text">
                He's talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)
            </p>
            <p class="more-info">
                <i class="fab fa-wikipedia-w"></i> <a href="#">More information</a>
            </p>
            <strong>What's Your Veredict?</strong>
        </div>
        <div class="thumbs">
            <button class="thumbs-up"><i class="fas fa-thumbs-up"></i></button>
            <button class="thumbs-down"><i class="fas fa-thumbs-down fa-flip-horizontal"></i></button>
        </div>
    </div>
</div>