<nav class="nav">
    <h1 class="page-title">
        rule <span class="no-capital">of</span> thumb.
    </h1>
    <ul class="nav-list">
        <li class="list-item" [routerLink]="['/past-trials']" routerLinkActive="active">past trials</li>
        <li class="list-item" [routerLink]="['/how-works']" routerLinkActive="active">how it works</li>
        <li class="list-item" [routerLink]="['/login']" routerLinkActive="active">log in / sign up</li>
        <li class="list-item">
            <i class="fas fa-search search-icon"></i>
        </li>
    </ul>
</nav>