@import "../../../../assets/scss/abstracts/variables";

.card {
    color: #fff;
    min-height: 400px;
    background-position: left center;
    background-size: cover;
    display: flex;
    align-items: flex-end;

    .card-container {
        width: 100%;

        .card-title {
            display: flex;
            align-items: center;
            .calification {
                padding: 0.5em 0.7em;
                color: #fff;
                margin-right: 1em;

                &.good {
                    background-color: $primary-blue;
                }

                &.bad {
                    background-color: $primary-yellow;
                }

                &.even {
                    background-color: darkgray;
                }
            }
            .card-name {
                font-size: 3rem;
                line-height: 1;
                letter-spacing: 2px;
            }
        }

        .card-content {
            padding: 0 3.5em 3.5em 3.5em;

            .card-information {
                margin-bottom: 1.2em;
            }

            .card-description {
                font-size: 1.3rem;
            }

            .card-actions {
                padding: 1.2em 0;

                .btn {
                    background-color: transparent;
                    border: none;
                    padding: 0.7em 0.8em;
                    color: #fff;
                    cursor: pointer;

                    & + .btn {
                        margin-left: 0.5em;
                    }

                    &.active {
                        border: 2px solid #fff;
                    }

                    &.thumbs-up {
                        background-color: $primary-blue;
                    }

                    &.thumbs-down {
                        background-color: $primary-yellow;
                    }

                    &.btn-vote {
                        border: 1px solid #fff;
                        padding: 0.7em 1.5em;
                    }
                }
            }
        }
    }

    .card-rating {
        display: flex;
        width: 100%;

        .thumbs-up-rating,
        .thumbs-down-rating {
            padding: 0.5em;
            font-size: 2rem;
            width: 50%;
            display: flex;
            align-items: center;
            line-height: 1;

            .icon {
                font-size: 2rem;
            }
        }

        .thumbs-up-rating {
            background-color: $opaque-primary-blue;
            justify-content: flex-start;
        }

        .thumbs-down-rating {
            background-color: $opaque-primary-yellow;
            justify-content: flex-end;
        }
    }
}

@media (min-width: 1000px) {
    .card {
        min-width: 330px;
    }

    .btn {
        &:hover,
        &:focus {
            opacity: 0.6;

            &.btn-vote {
                background-color: rgba(#000, 0.9);
            }
        }
    }
}
