.header-section {
    background-image: url("../../../assets/images/pope2.jpg");
    background-size: cover;
    background-position: center center;

    .closing-details {
        display: flex;

        .closing-in {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
            background-color: rgba(#000, 0.3);
            color: #fff;
            padding: 1em;
            position: relative;

            small {
                text-transform: uppercase;
            }
        }

        .closing-days {
            width: 70%;
            display: flex;
            background-color: rgba(#fff, 0.8);
            font-size: 2rem;
            color: rgba(#000, 0.7);
            padding: 0 .5em;

            .number {
                margin-right: .3em;
                font-weight: 700;
            }
        }
    }
}

@media (min-width: 1000px) {
    .header-section {
        .closing-details {
            .closing-in {
                small {
                    font-size: 1rem;
                }
            }
        }
    }
}